/* General */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-background-color: #fcf6eb;
    --dark-background-color: #1d1d1b;
    --accent-bg-color: #27b5bd;
    --more-transparent-bg-color: rgba(39, 181, 189, 0.4);
    --less-transparent-bg-color: rgba(39, 181, 189, 0.9);
    --box-shadow: 1px 1px 15px 8px #1d1d1b;
    --light-text-color: #fcf6eb;
    --dark-text-color: #1d1d1b;
    --accent-text-color: #27b5bd;
    --border-radius: 10px;
    --transition-duration: 0.5s;
}

/* Header Navigation --Section */
.headerItemContainer {
    position: fixed;
    width: auto;
    height: auto;
    right: 2%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4em;
    top: 25%;
    z-index: 5;
    @media screen and (max-width: 900px) {
        top: auto;
        bottom: 3%;
        right: auto;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        grid-gap: 0em;
    }
    .headerItemDiv {
        border-radius: 50%;
        height: 4em;
        width: 4em;
        border: 4px solid var(--dark-background-color);
        display: flex;
        justify-content: center;
        background: var(--more-transparent-bg-color);
        cursor: pointer;
        transition: var(--transition-duration);
        &:hover {
            background: var(--less-transparent-bg-color);
            border: 4px solid var(--less-transparent-bg-color);
        }
        .headerItemButtonLinkEl {
            width: 100%;
            height: 100%;
            display: flex;
            align-self: center;
            justify-content: center;
            border-radius: 50%;
            .headerItemIconEl {
                height: 70%;
                display: flex;
                align-self: center;
            }
        }
    }
}

// Parallax Wrapper
.parallaxWrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

/* Hero --Section */
.heroSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

    .heroSectionBackgroundImgEl {
        transform: translateZ(-10px) scale(2);
    }
    .heroSectionMidgroundImgEl {
        transform: translateZ(-5px) scale(1.5);
    }
    .heroSectionForegroundImgEl {
        transform: translateZ(-2.5px) scale(1.26);
    }
    .heroSectionBackgroundImgEl,
    .heroSectionMidgroundImgEl,
    .heroSectionForegroundImgEl {
        position: absolute;
        height: 100%;
        width: 101%;
        object-fit: cover;
        z-index: -1;
    }

    // hero text
  .heroSectionTextDiv {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: block;
    padding-left: 10em;
    @media screen and (max-width: 900px) {
        & {
            padding-left: 4em;
        }
    }
    .heroSectionPreTextEl {
        height: 1em;
    }
    p {
        margin: 0 auto;
        padding: 0;
        text-align: left;
        font-size: 4em;
        margin: 0.2em;
        text-shadow: 2px 2px 4px var(--accent-text-color);
        color: var(--dark-text-color);
        margin-bottom: 0.9em;
        width: 100%;
        font-weight: bolder;
     }
    .heroSectionMainTextEl {
        width: 100%;
        text-align: left;
        color: var(--accent-text-color);
        text-shadow: 2px 2px 3px var(--light-text-color);
        margin: 0.2em auto;
        font-size: 5em;
        padding-left: 0;
        font-weight: bolder;
    }
    .heroSectionPostText {
        margin-top: 0.5em;
    }
    .heroSectionCTAlinkDiv {
        width: 100%;
        display: block;
        padding-left: 0.2em;
        .heroSectionCTAlink {
            width: 200px;
            text-decoration: none;
            padding: 1em 2em;
            background: var(--more-transparent-bg-color);
            color: var(--light-text-color);
            font-weight: bolder;
            font-size: 1.2em;
            cursor: pointer;
            border-radius: var(--border-radius);
            border: solid 2px var(--light-background-color);
            transition: var(--transition-duration);
            &:hover {
                background: var(--less-transparent-bg-color);
                border: solid 2px var(--less-transparent-bg-color);
            }
        }
    }
    @media screen and (max-width: 900px) {
        .heroSectionMainTextEl {
            font-size: 4em;
            padding-right: 1.5em;
        }
        p {
            font-size: 2.5em;
            padding-right: 1.5em;
        } 
    }
  }
}

/* Images with text --Section */
.imagesAndTextSection {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px 20px var(--dark-background-color);
    background-color: var(--dark-background-color);
    @media screen and (max-width: 900px) {
        padding-bottom: 5em;
    }
    .imagesWithTextDivEachItem {
        width: fit-content;
        height: fit-content;
        display: flex;
        background-color: var(--dark-background-color);
        min-height: 28em;
        transition: var(--transition-duration);
        @media screen and (min-width: 900px) {
            &:nth-child(even) {
                flex-direction: row-reverse;
                .imagesWithTextTextDiv {
                    padding-left: 6em;
                }
                .imagesWithTextImgDiv {
                    transform: translateX(-3em);
                }
            }
        }
        &:hover .imagesWithTextImgEl {
            box-shadow: 0px 0px 0px 8px var(--accent-bg-color);
        }
        @media screen and (max-width: 900px) {
            & {
                display: block;
            }
            .imagesWithTextImgDiv {
                padding-top: 4em;
            }
        }
        .imagesWithTextImgDiv {
            width: 50%;
            height: auto;
            z-index: 6;
            @media screen and (max-width: 900px) {
                & {
                    width: 100%;
                }
            }
            }
            .imagesWithTextImgEl {
                height: auto;
                width: 100%;
                transform: scale(80%);
                box-shadow: 0px 0px 20px 5px var(--accent-bg-color);
                transition: var(--transition-duration);
                z-index: 5;
                @media screen and (width: 900px) {
                    transform: scale(100%);
                }
            }
        }
        .imagesWithTextTextDiv {
            margin: 0;
            padding: 0;
            padding-left: 3em;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: left;
            background-color: var(--dark-background-color);
            position: relative;
            z-index: 3;
            h2, p {
                color: var(--light-text-color);
                text-align: left;
            }
            .imagesWithTextTextHeader {
                width: 100%;
                padding-bottom: 0.6em;
                font-size: 3em;
                text-shadow: 2px 2px 4px var(--accent-text-color);
                z-index: 3;
            }
            .imagesWithTextTextPar {
                width: 100%;
                padding-right: 25%;
                font-size: 1.5em;
                line-height: 2em;
                margin-bottom: 1em;
                z-index: 3;
            }
            .imageWithTextButtonDiv {
                width: 100%;
                height: auto;
                display: block;
                z-index: 3;
                .imageWithTextButtonLink {
                    text-decoration: none;
                    button {
                        width: 150px;
                        text-decoration: none;
                        padding: 1em 2em;
                        background: var(--more-transparent-bg-color);
                        color: var(--light-text-color);
                        font-weight: bolder;
                        cursor: pointer;
                        border-radius: var(--border-radius);
                        border: solid 2px var(--light-background-color);
                        transition: var(--transition-duration);
                        &:hover {
                            background: var(--less-transparent-bg-color);
                            border: solid 2px var(--less-transparent-bg-color);
                        }
                    }
                }
            }
            .imageWithTextTextBackgroundDiv {
                height: 100%;
                position: absolute;
                z-index: 1;
                display: flex;
                justify-content: center;
                .imageWithTextTextBackgroundImg {
                    position: absolute;
                    height: 100%;
                    z-index: 1;
                    transition: 3s;
                    filter: contrast(0%) opacity(0%);
                    transform: translateY(4em);
                }
                .show {
                    filter: contrast(200%) opacity(25%);
                    transform: translateY(0em);
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding-left: 0em;
                    width: 100%;
                    text-align: center;
                }
                h2, p {
                    text-align: center;
                }
                .imagesWithTextTextHeader {
                    padding-bottom: 0em;
                }
                .imagesWithTextTextPar {
                    padding: 1em 4em;
                }
        }
    }
}

// Video with text overlay --Section
.videoTextOverlaySection {
    height: 100%;
    width: 100%;
    position: relative;
    @media only screen and (max-width: 900px) {
        height: 100%;
        width: auto;
    }
    .videoTextOverlaySVG {
        position: absolute;
        z-index: 1;
        transform: translateY(-3em);
        @media only screen and (max-width: 600px) {
            transform: translateY(-1em);
        }
    }
    .videoWithTextOverlayVideoDiv {
        width: 100%;
        height: 100%;
        position: relative;
        @media only screen and (max-width: 900px) {
            width: auto;
            height: 110%;
        }
        @media only screen and (max-width: 570px) {
            width: auto;
            height: 130%;
        }
        .videoWithTextOverlayVideoEl {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            right: 0;
            filter: brightness(15%);
            @media only screen and (max-width: 900px) {
                width: auto;
                height: 100%;
            }
            .videoWithTextOverlayVideoSrc {
                width: 100%;
                height: 100%;
            }
        }
    }
    .videoWithTextOverlayTextDiv {
        z-index: 5;
        width: 100%;
        height: auto;
        top: 20%;
        position: absolute;
        display: grid;
        justify-items: center;
        @media only screen and (max-width: 900px) {
            top: 10%;
        }
        h2, p {
            color: var(--light-text-color);
            z-index: 5;
            max-width: 71%;
            text-align: center;
            margin-top: 4%;
            text-shadow: 2px 2px 4px var(--accent-text-color);
            font-size: 1.5em;
            line-height: 2em;
        }
        .videoWithTextOverlayHeadingEl {
            font-size: 3em;
            position: relative;
        }
        .videoWithTextOverlayHeadingEl:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--accent-bg-color);
        }
        .videoWithTextOverlaySubTextEl {
           padding-bottom: 2.2em; 
        }
        .videoWithTextOverlayButtonDiv {
            display: grid;
            grid-gap: 1em;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            justify-items: center;
            max-width: 70%;
            @media screen and (max-width: 1000px) {
                grid-template-columns: repeat(2, 1fr);
                max-width: 90%;
            }
            .videoWithTextOverlayButtonEl {
                text-decoration: none;
                .videoWithTextOverlayButton {
                    width: 150px;
                    text-decoration: none;
                    padding: 1em 2em;
                    background: var(--more-transparent-bg-color);
                    color: var(--light-text-color);
                    font-weight: bolder;
                    cursor: pointer;
                    border-radius: var(--border-radius);
                    border: solid 2px var(--light-background-color);
                    transition: var(--transition-duration);
                    &:hover {
                        background: var(--less-transparent-bg-color);
                        border: solid 2px var(--less-transparent-bg-color);
                    }
                }
            }
        }
    }
}